<% provide(:title, 'New Project') %>
<h1>Add a new project</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @project, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  
  <%= f.text_field :description, placeholder: "Describe project here..." %>
  
  <%= f.file_field :document %>
  
  
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>
    
  </div>
</div>
